<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IOSFrame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B1FC2A0D1F286D9000719091</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1FC2A261F286D9100719091</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1FC2A311F286D9100719091</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
